html {
    font-family: Palanquin,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    background-color: #00334E;

}

.navbar {
    
    width: auto;
    height: 80px;
}
.navbar a, .footer a {
    font-style: normal;
    color: #d4d4d4;
    text-decoration: none;
    padding: 0px 100px;
    
}

.navbar a {
    font-size: 30px;
    font-weight: 600;
    
}

.footer a {
    font-size: 20px;
    font-weight: 600;
}

.navbar a:hover, .footer a:hover {
    color: white;
}


.navbar-links, .footer-links {
    text-align: center;
    
}

.material-icons {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
    font-size: 30px;
}

.top-block {
    
    width: auto;
    height: 350px;
}
.btm-block {
    
    width: auto;
    height: 350px;
}

.footer {
    width: 100%;
    height: 75px;
    margin: 0;
    padding: 0;
    bottom: 0;
    position: fixed;
}

